@import url(../sanitize.css);


body {
    justify-content: center;
    height: auto;
    width: auto;
    font-family: Arial, sans-serif;
    background-color:#f9f9f9;
    padding: 40%;
    text-align: center;
    transform: scale(1);

}

.content{
    width: 150%;
    padding: 10%;
    margin: 10%;
    background-color: #3df2f8;
    text-align: center;
    transform: scale(1);
}


h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20% ;
    background-color: #00b5c5;
    text-align: center;
}