body {
    font-size: 1.2em; /* スマホ向けにフォントサイズを少し小さく */
    background-color: #e6e6e6;
    color: #333;
    margin: 0;
    padding: 10px; /* スマホ向けにパディングを小さく */
    font-family: Arial, sans-serif;
}
.container {
    max-width: 100%; /* コンテナの幅をスマホ画面に合わせる */
    margin: auto;
    background: white;
    padding: 10px; /* スマホ向けにパディングを小さく */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header, .footer {
    text-align: center;
    padding: 10px 0;
}
.header h1, .footer {
    font-weight: bold;
    color: #333;
    background-color: #d3d3d3; /* マイページをシンプルなグレーに */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.user-info h2, .replies h2 {
    font-weight: bold;
    color: #4b8e8d; /* パステルグリーン */
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.reply-title {
    font-weight: bold;
    color: #7986cb; /* パステルブルー */
    background-color: #e8eaf6;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
.reply-content, .my-reply-content {
    font-size: 1em; /* スマホ向けにフォントサイズを少し小さく */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; /* シンプルな背景色 */
    border-left: 5px solid #ccc; /* シンプルな強調線 */
    line-height: 1.6; /* 行間を調整 */
}
.my-reply-title {
    font-weight: bold;
    color: #ff8a65; /* パステルオレンジ */
    background-color: #ffebee;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
.reply-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em; /* スマホ向けにフォントサイズを少し小さく */
}
.button {
    background-color: #4682b4;
    color: white;
    padding: 10px; /* スマホ向けにパディングを小さく */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em; /* スマホ向けにフォントサイズを少し小さく */
    width: 100%; /* ボタンをスマホ幅いっぱいに広げる */
}
.button:hover {
    background-color: #4169e1;
}
